.box1{

    background-color: yellow;
    height: 250px;
    width: 500;
}
.box2{
      background-color: rgb(255, 38, 0);
    height: 250px;
    width: 500;
}
.box3{
    background-color: rgb(41, 35, 170);
    height: 250px;
    width: 500;
}
