.box1{
    background-color: yellowgreen;
    padding: 10px;
    margin: 10px;
}
.box2{
    background-color: yellow;
    padding: 10px;
    margin: 10px;
}
.button1{
    margin-top: 100px;
    /*margin-left: 100px;
   /* padding-top: 10px;
   /* padding bottom: 10px;*/
   /* padding left: 10px;*/
   /* padding right: 10px;*/
    margin-bottom: 100px;
    padding: 10px;
}
.button2{
    margin-top: 100px;
    /*margin-left: 100px/*
     padding-top: 10px;*/
      /*padding-bottom: 10px;
      /* padding left: 10px;*/
      /*padding-right: 10px;*/
    margin-bottom: 100px;
    padding: 10px;
   
   
    
}