.container{
    display: flex;
}

.box1{
    background-color: yellow;
   /* width: 500px;
    height: 300px;
    /*padding: 100px;
    margin: 10px;*/
}
.box2{
    background-color: greenyellow;
   /* width: 700px;
    height: 500px;
   /* padding: 100px;
    margin: 10px;*/
}
/*.para{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 100;   
}

.para1{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 100;
}
*/

